* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: #3a2023;
    /*background: linear-gradient(15deg, #b52b25, #d19577, #57658a, #3a2023)*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #eae8e9;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #3a2023;
    box-shadow: 0 1px 4px #eae8e9;
    border-radius: 2px solid #eae8e9;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav a{
    position: relative;
}

header nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
    color: #eae8e9;
}

header nav a:hover::after {
    width: 100%;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #eae8e9;
}

header .menu a {
    margin-left: 20px;
    font-weight: 500px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}


.hero .texto-hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 600px;
}


.hero .texto-hero h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 5vw;
    color: #eae8e9;
}

.hero .texto-hero p {
    font-size: 1.5vw;
    max-width: 50vw;
    color: #eae8e9;
    text-align: justify;
}

.hero .texto-hero p span{
    background: linear-gradient(45deg,#d19577, #e4c18b);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.185);
}

.hero .imagem-hero {
    width: 35vw;
}
.hero .imagem-hero img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.hero .texto-hero .botoes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 30px;
}

.hero .texto-hero .botoes a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
    outline: none;
    transition: none;
    width: 80px;
    height: 45px;
    background-color: #57658a;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.hero .texto-hero .botoes a:hover {
    background-color: #d19577;
    cursor: pointer;
    transform: scale(1.1);
}

.hero .texto-hero .botoes a i {
    font-size: 2vw;
    color: #eae8e9;
}

.sobre {

    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px); /* opcional: anima de baixo pra cima */
    animation: fadeIn 1.2s ease-out forwards;
    animation-delay: 0.3s; /* opcional */
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sobre .conteudo-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    text-align: center;
    width: 80%;
    border-radius: 40px;
    border: 2px solid #2e2022;
    box-shadow: 0 1px 4px #2e2022;
    height: 80vh;
        margin: 0 auto 20px;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3vw;
    margin-bottom: 20px;
    color: #eae8e9;
}

.sobre p {
    font-family: "Ubuntu", sans-serif;
    font-size: 1vw;
    max-width: 80%;
    margin: 0 auto 20px;
    text-align: justify;
    color: #eae8e9;
}

.sobre .botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2vw;
    margin-bottom: 20px;
    color: #eae8e9;
}

.sobre h3 {
    padding-top: 20px;
}

.sobre .icones i {
    font-size: 3vw;
}

.projetos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 20px;
    color: #eae8e9;
    padding-top: 40px;
}

.projetos .lista-projetos {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
}

.projetos .lista-projetos .projeto-detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 380px;
    height: 500px;
    border-radius: 10px;
    background-color: #eae8e9;
}

.projetos .lista-projetos .projeto-detalhes img {
    width: 70%;
    border-radius: 5px;
}

.projetos .lista-projetos .projeto-detalhes span {
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 10px;
    color: #2e2022;
}

.projetos .lista-projetos .projeto-detalhes p {
    font-size: 1vw;
    margin-top: 10px;
    color: #2e2022;
    max-width: 80%;
}

.projetos .lista-projetos .projeto-detalhes a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    background-color: #2e2022;
    border-radius: 5px;
    font-size: 1vw;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    text-align: center;
    color: #eae8e9;
}

.contato h2 {
    font-size: 2rem;
    color: #eae8e9;
    margin-bottom: 20px;
}

.contato form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 10px;
    padding-top: 20px;
    font-family: "Ubuntu", sans-serif;
}

.form label,
.form input,
.form textarea,
.form button {
    width: 100%;
}

.form label {
    display: flex;
    
    color: #eae8e9;
    line-height: 1;
    margin-bottom: 1px;
}

.form input,
.form textarea {
    font-family: "Ubuntu", sans-serif;
    padding: 10px;
    margin-bottom: 4px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: border-color,
    box-shadow 0.2s;
}

.form textarea {
    min-height: 100px;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: #57658a;
    box-shadow: 0 0 0 3px #57658a;
}

.form button {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    height: 40px;
    border-radius: 5px;
    color: #eae8e9;
    background-color: #57658a;
    border: none;
}

footer {
    color: #eae8e9;
    padding: 20px 40px;
    text-align: center;
}